@import './assets/variables/colors';

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: $main-text-color;
}
body{
  margin: 0;
}


h1 {
  color: $white-color;
  font-size: 96px;
  font-weight: 700;
}