@import "../../assets/variables/colors";

.breadcrumbs-container {
  display: flex;
  align-items: center;
}

.breadcrumbs-block {
  display: flex;
  align-items: center;
}

.breadcrumb {
  height: 20px;
  width: fit-content;
  padding: 8px 16px;
  font-size: 16px;  
  font-weight: 500;
  color: $grey-devider-color;
  border: 1px solid $grey-devider-color;
  border-radius: 6px;
}

.active {
  color: black;
}

.breadcrumb-line {
  content: "";
  height: 1px;
  width: 16px;
  display: block;
  background-color: $grey-devider-color;
}
