@import "../../assets/variables/colors";

.sales-block {
  margin-bottom: 80px;
  width: 100%;
  padding: 0 40px;

  p {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
.sales-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
