.checkout-block{
    width: 100;
    height: 600px;
    background-image: url('../../assets/images/checkout_back_img.svg');
    background-size: cover; 
    padding: 80px 40px 0 40px;

    h1 {
        margin-bottom: 40px;
    }
}