@import "../../assets/variables/colors";

.product-card {
  border-radius: 12px;
  border: 1px solid $grey-devider-color;

  &__img {
    height: 284px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 20px;
  }

  &__details {
    padding: 0 32px 32px 32px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__price-block {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }

  &__discount {
    font-size: 40px;
    font-weight: 600;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
    color: $grey-text-color;
    text-decoration-line: line-through;
  }
}
